<div class="contact">

    <div class="form-floating">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
        <label for="floatingInput">Correo</label>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Deja un comentario</label>
    </div>


</div>
